# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# Binaries
bin
flux
*.iso
# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
# Secrets files
server/**/secrets.*
# Python
env/
.python-version
